<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>App Notes Master - VueJs</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <div class="form-wrapper container">
            <div class="form-group">
                <label for="title">Title</label>
                <input class="form-control" id="title" type="text" placeholder="Type here..." v-model="note.title"/>
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <textarea class="form-control" id="content" placeholder="Type here..." v-model="note.content"></textarea>
            </div>
            <button class="btn btn-primary" v-on:click="addNote">Add note</button>
        </div>
        <div class="container mt-2">
            <div class="card-wrapper col-md-12 mb-2" v-for="(note, index) in notes">
                <div class="row">
                    <div class="card col-sm-4">
                        <div class="card-block">
                            <button class="close" v-on:click="removeNote(index)">&times;</button>
                            <h4 class="card-title">{{note.title}}</h4>
                            <h6 class="card-subtitle">{{note.date}}</h6>
                            <p class="card-text">{{note.content}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                note: {
                    title: '',
                    content: ''
                },
                notes: [
                    {
                        title: 'Lorem ipsum',
                        content: 'Lorem ipsm donal trunp ronaldo messi kaka drogba mata lazada sendo',
                        date: new Date(Date.now()).toLocaleString()
                    }
                ]
            },
            methods: {
                addNote(){
                    const NOTE = this.note;
                    let {title, content} = NOTE;
                    this.notes.push({
                        title,
                        content, 
                        date: new Date(Date.now()).toLocaleString()
                    });
                    //reset form input
                    for(ele in this.note){
                        NOTE[ele] = ''
                    }
                },
                removeNote(index){
                    this.notes.splice(index, 1);
                }
            }
        });
    </script>
</body>
</html>